//Extended from bootstrap border 
@for $i from 2 through 5 {
    .border-#{$i} {
        border-width: 0px + $i !important;
    }
    .border-top-#{$i} {
        border-top-width: 0px + $i !important;
    }
    .border-bottom-#{$i} {
        border-bottom-width: 0px + $i !important;
    }
    .border-left-#{$i} {
        border-left-width: 0px + $i !important;
    }
    .border-right-#{$i} {
        border-right-width: 0px + $i !important;
    }
}

// rounded
.rounded-top-0 {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.rounded-right-0 {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.rounded-bottom-0 {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.rounded-left-0 {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.rounded-top-lg {
    border-top-left-radius: $border-radius-lg !important;
    border-top-right-radius: $border-radius-lg !important;
}

.rounded-right-lg {
    border-top-right-radius: $border-radius-lg !important;
    border-bottom-right-radius: $border-radius-lg !important;
}

.rounded-bottom-lg {
    border-bottom-right-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
}

.rounded-left-lg {
    border-top-left-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
}