<!-- footer -->




<footer class="pt-8 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 mb-3 pe-lg-8 col-md-6">
				<a href="#!" class="d-flex align-items-center mb-3">
					<img src="@@webRoot/assets/images/footer-logo.svg" alt="">
				</a>
				<p class="mb-4">We are building a High-quality premium bootstrap themes & templates. Make your design
					workflow faster and easier.</p>
				<form class="input-with-button" action="https://gumroad.com/follow_from_embed_form" method="post"
					id="gumroad-follow-form-embed"><input type="hidden" name="seller_id" value="6516268777655" /><input
						id="gumroad-follow-form-embed-input" class="form-control" type="email" placeholder="Your email address"
						name="email" value="" /><button class="btn btn-primary" type="submit"
						id="gumroad-follow-form-embed-button">Subscribe</button></form>
				<!-- Thank You Modal -->
				<!-- <div class="modal fade" id="thankYouModal" tabindex="-1" aria-labelledby="thankYouModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="thankYouModalLabel">Thank You!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Thank you for subscribing!</p>
      </div>
    </div>
  </div>
</div> -->
				<!-- ...existing code... -->

				<div>
					<a href="https://github.com/codescandy" target="_blank" rel="nofollow"
						class="text-inherit me-3 fab fa-github"></a>
					<a href="https://twitter.com/getcodescandy" target="_blank" rel="nofollow"
						class="text-inherit me-3 fab fa-twitter"></a>
					<a href="#" class="text-inherit me-3 fab fa-dribbble"></a>
					<a href="#" class="text-inherit me-3 fab fa-instagram"></a>
					<a href="#" class="text-inherit me-3 fab fa-linkedin"></a>
					<a href="https://discord.gg/Mfu3t6ENXx" target="_blank" rel="nofollow"
						class="text-inherit me-3 fab fa-discord"></a>
				</div>
			</div>

			<div class="offset-lg-1 col-lg-2 mb-3 col-6">
				<h5 class="mb-4">Company</h5>
				<ul class="nav flex-column list-unstyled">
					<li class="nav-item mb-2"><a href="@@webRoot/about.html" class="text-inherit p-0">About
						</a>
					</li>
					<li class="nav-item mb-2"><a href="@@webRoot/why-our-theme.html" class="text-inherit p-0">Why Our
							theme
						</a>
					</li>
					<li class="nav-item mb-2"><a href="@@webRoot/blog.html" class="text-inherit p-0">Blog</a></li>
					<li class="nav-item mb-2"><a href="@@webRoot/hire-us.html" class="text-inherit p-0">Hire us</a></li>
					<li class="nav-item mb-2"><a href="@@webRoot/contact.html" class="text-inherit p-0">Contact</a></li>

				</ul>
			</div>
			<div class="col-lg-2 mb-3 col-md-6">
				<h5 class="mb-4">Templates</h5>
				<ul class="nav flex-column list-unstyled">
					<li class="nav-item mb-2"><a href="@@webRoot/theme-categories.html" class="text-inherit p-0"
							target="_blank">Bootstrap 5</a>
					</li>
					<li class="nav-item mb-2"><a href="@@webRoot/theme-categories.html" class="text-inherit p-0"
							target="_blank">Nextjs</a></li>
					<li class="nav-item mb-2"><a href="@@webRoot/theme-categories.html" class="text-inherit p-0"
							target="_blank">Nuxtjs</a></li>

					<li class="nav-item mb-2"><a href="@@webRoot/theme-categories.html" class="text-inherit p-0"
							target="_blank">React
							Js</a></li>
					<li class="nav-item mb-2"><a href="@@webRoot/theme-categories.html" class="text-inherit p-0"
							target="_blank">Tailwind</a></li>
				</ul>
			</div>
			<div class="col-lg-2 mb-3 col-6">
				<h5 class="mb-4">Resources</h5>
				<ul class="nav flex-column list-unstyled">

					<li class="nav-item mb-2"><a href="https://www.youtube.com/@codescandy" target="_blank"
							class="text-inherit p-0">Video Guide</a></li>
					<li class="nav-item mb-2"><a href="@@webRoot/contact-us.html" target="_blank"
							class="text-inherit p-0">Support</a>
					</li>

					<li class="nav-item mb-2"><a href="https://dashui.featurebase.app/" class="text-inherit p-0"
							target="_blank">Roadmap</a></li>
				</ul>
			</div>




		</div>
		<div class="row mt-8 mb-3">
			<div class="col-10">
				<p class="">
					Copyright © 2024. Made with love by
					<a href="https://codescandy.com/">Codescandy</a>
				</p>
			</div>
		</div>
	</div>

</footer>
<!-- ...existing code... -->
<!-- <script>
document.getElementById('gumroad-follow-form-embed').addEventListener('submit', function(e) {
    e.preventDefault();
    var thankYouModal = new bootstrap.Modal(document.getElementById('thankYouModal'));
    thankYouModal.show();
    this.reset();
    // Auto close modal after 20 seconds (20000 ms)
    setTimeout(function() {
        thankYouModal.hide();
    }, 20000);
});
</script> -->
<!-- ...existing code... -->