<!-- footer -->
<footer class="py-10">
	<div class="container">
		<div class="row">
			<div class="offset-xl-4 col-xl-4 col-lg-4 col-md-12 col-12">
				<div class="text-center">
					<div class="mb-4"><img src="assets/images/footer-logo.svg" alt="" /></div>
					<p class="mb-4">We are building a High-quality premium bootstrap themes & templates. Make your design workflow faster and easier.</p>
					<small>
						© 2019 -
						<span id="copyright">
							<script>
								document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()));
							</script>
						</span>
						<a href="#!">Codescandy</a>
						. All Rights Reserved.
					</small>
				</div>
			</div>
		</div>
	</div>
</footer>
