<!-- navigation -->

<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand" href="@@webRoot/index.html"><img src="@@webRoot/assets/images/codescandy-logo.svg" alt="" />
      <span class="ms-1  text-dark">CodesCandy</span>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-default"
      aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar mt-0"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-default"
        aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-times"></i>
      </button>
      <ul class="navbar-nav ms-4">
        <li class="nav-item">
          <a class="nav-link d-lg-none" href="#">
            Menu
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="@@webRoot/pages/themes.html">
            Template
          </a>

        </li>
        <!-- <li class="nav-item ">
                    <a class="nav-link " href="@@webRoot/pages/about.html">
       About
        </a>

                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="@@webRoot/pages/why-our-theme.html">
      Why Our Theme
        </a>

                </li> -->
        <li class="nav-item ">
          <a class="nav-link " href="@@webRoot/pages/blog.html">
            Blog
          </a>

        </li>
        <li class="nav-item ">
          <a class="nav-link " href="@@webRoot/pages/contact.html">
            Contact
          </a>

        </li>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="@@webRoot/pages/hire-us.html">
            Hire Us
          </a>

        </li>
      </ul>
      <div class="ms-lg-auto p-3 p-lg-0 ">
        <a href="#" class="btn btn-primary">Store</a>
      </div>
    </div>
  </div>
</nav>